.login-container {
    display: flex;
    flex-flow: column;
}
.form_input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 40%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    margin-bottom: 10px;
  }

  .error-message {
      color: red;
      align-self: start;
  }
  .login-button {
      padding: 2%;
      background-color: black;
      color: white;
      width: 25%;
  }

  .clickable-text {
      cursor: pointer;
  }